.primary-button {
    overflow: hidden;
    transition: all ease-in-out .5s;
    border-radius: 5px;
    cursor: pointer;
}

.add-button {
    overflow: hidden;
    transition: all ease-in-out .5s;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 100px;
}

.delete-button {
    overflow: hidden;
    transition: all ease-in-out .5s;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 100px;
}

@media screen and (max-width: 576px) {
    .buttons {
        flex-direction: row;
        justify-content: space-around;
        height: initial;

    }

    .secondary-button {
        left: unset;
    }
}

.cargo-item {
    display: inline-flex;
    justify-content: space-between;
    background: #fefefe;
    height: 29px;
    width: 140px;
    margin-right: 20px;
    border-radius: 5px;
    padding: 2px;
}

.close {
    color: red;
    border: 1.4px red solid;
    border-radius: 50%;
    width: 18%;
    text-align: center;
    cursor: pointer;
}

.close:hover {
    color: white;
    background-color: red;
    
}

.name {
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.cargo-itens {
    margin: 10px;
}

.add-edit {
    margin-bottom: 20px;
}